.btn123 {
    padding: 7px 20px;
    border-radius: 5px;
    color: #014860;
    font-size: 100%;
    text-shadow: 0 1px 0 #43a8b0, 0 -1px 0 #033;
    height: auto;
    position: absolute;
    margin-top: 11px;
    -webkit-box-shadow: 4px 4px 4px rgba(1, 72, 96, .1);
    box-shadow:         4px 4px 4px rgba(1, 72, 96, .1);

    background-color: #017b86;
    background-image: linear-gradient(bottom, #007D88 0%, #00ABBA 81%);
    background-image: -o-linear-gradient(bottom, #007D88 0%, #00ABBA 81%);
    background-image: -moz-linear-gradient(bottom, #007D88 0%, #00ABBA 81%);
    background-image: -webkit-linear-gradient(bottom, #007D88 0%, #00ABBA 81%);
    background-image: -ms-linear-gradient(bottom, #007D88 0%, #00ABBA 81%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #006D88),
        color-stop(0.81, #009BBA)
    );

    -webkit-transition: all .15s;
    -ms-transition: all .15s;
    transition: all .15s;
}